<header>
    <h1>Stock</h1>
    </header>
    <div class="middle">
<div class="card">
    <div class="card-head">Search your stocks in a vendor specific manner, sort by vendor and check the available stocks from the each vendor</div>
    
</div></div>


<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [title]="chartOptions.title"
      [legend]="chartOptions.legend"
    ></apx-chart>
  </div>
  <div style="text-align: center;">
  <button mat-raised-button class="btn" style="align-items: center;">Add Stock</button>
</div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>S.No</th>
          <th>Product Name</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Wholesale Price</th>
          <th>MRP</th>
          <th>Vendor</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Maggi</td>
          <td>Packaged Food</td>
          <td>Nestle</td>
          <td>$2.99</td>
          <td>$3.49</td>
          <td>Inventiva</td>
          <td>50</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Chocolate</td>
          <td>Packaged Food</td>
          <td>Eclairs</td>
          <td>$1.99</td>
          <td>$2.49</td>
          <td>Inventiva</td>
          <td>30</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Golddrop</td>
          <td>Cooking Oil</td>
          <td>Gold</td>
          <td>$5.99</td>
          <td>$6.49</td>
          <td>Inventiva</td>
          <td>20</td>
        </tr>
        <tr>
          <td>4</td>
          <td>TilOil</td>
          <td>Cooking Oil</td>
          <td>Surya</td>
          <td>$4.49</td>
          <td>$4.99</td>
          <td>Inventiva</td>
          <td>25</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Gillette Shaving Cream</td>
          <td>Personal & Hygiene</td>
          <td>Gillette</td>
          <td>$3.99</td>
          <td>$4.49</td>
          <td>Inventiva</td>
          <td>40</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Maggi</td>
            <td>Packaged Food</td>
            <td>Nestle</td>
            <td>$2.99</td>
            <td>$3.49</td>
            <td>Inventiva</td>
            <td>50</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Chocolate</td>
            <td>Packaged Food</td>
            <td>Eclairs</td>
            <td>$1.99</td>
            <td>$2.49</td>
            <td>Inventiva</td>
            <td>30</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Golddrop</td>
            <td>Cooking Oil</td>
            <td>Gold</td>
            <td>$5.99</td>
            <td>$6.49</td>
            <td>Inventiva</td>
            <td>20</td>
          </tr>
          <tr>
            <td>9</td>
            <td>TilOil</td>
            <td>Cooking Oil</td>
            <td>Surya</td>
            <td>$4.49</td>
            <td>$4.99</td>
            <td>Inventiva</td>
            <td>25</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Gillette Shaving Cream</td>
            <td>Personal & Hygiene</td>
            <td>Gillette</td>
            <td>$3.99</td>
            <td>$4.49</td>
            <td>Inventiva</td>
            <td>40</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Maggi</td>
            <td>Packaged Food</td>
            <td>Nestle</td>
            <td>$2.99</td>
            <td>$3.49</td>
            <td>Inventiva</td>
            <td>50</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Chocolate</td>
            <td>Packaged Food</td>
            <td>Eclairs</td>
            <td>$1.99</td>
            <td>$2.49</td>
            <td>Inventiva</td>
            <td>30</td>
          </tr>
          <tr>
            <td>13</td>
            <td>Golddrop</td>
            <td>Cooking Oil</td>
            <td>Gold</td>
            <td>$5.99</td>
            <td>$6.49</td>
            <td>Inventiva</td>
            <td>20</td>
          </tr>
          <tr>
            <td>14</td>
            <td>TilOil</td>
            <td>Cooking Oil</td>
            <td>Surya</td>
            <td>$4.49</td>
            <td>$4.99</td>
            <td>Metro Cash</td>
            <td>25</td>
          </tr>
          <tr>
            <td>15</td>
            <td>Gillette Shaving Cream</td>
            <td>Personal & Hygiene</td>
            <td>Gillette</td>
            <td>$3.99</td>
            <td>$4.49</td>
            <td>Metro Cash</td>
            <td>40</td>
          </tr>
          <tr>
            <td>16</td>
            <td>TilOil</td>
            <td>Cooking Oil</td>
            <td>Surya</td>
            <td>$4.49</td>
            <td>$4.99</td>
            <td>Metro Cash</td>
            <td>25</td>
          </tr>
          <tr>
            <td>17</td>
            <td>Gillette Shaving Cream</td>
            <td>Personal & Hygiene</td>
            <td>Gillette</td>
            <td>$3.99</td>
            <td>$4.49</td>
            <td>Metro Cash</td>
            <td>40</td>
          </tr>
          <tr>
            <td>18</td>
            <td>TilOil</td>
            <td>Cooking Oil</td>
            <td>Surya</td>
            <td>$4.49</td>
            <td>$4.99</td>
            <td>Metro Cash</td>
            <td>25</td>
          </tr>
          <tr>
            <td>19</td>
            <td>Gillette Shaving Cream</td>
            <td>Personal & Hygiene</td>
            <td>Gillette</td>
            <td>$3.99</td>
            <td>$4.49</td>
            <td>Metro Cash</td>
            <td>40</td>
          </tr>
          <tr>
            <td>20</td>
            <td>TilOil</td>
            <td>Cooking Oil</td>
            <td>Surya</td>
            <td>$4.49</td>
            <td>$4.99</td>
            <td>Metro Cash</td>
            <td>25</td>
          </tr>
          <tr>
            <td>21</td>
            <td>Gillette Shaving Cream</td>
            <td>Personal & Hygiene</td>
            <td>Gillette</td>
            <td>$3.99</td>
            <td>$4.49</td>
            <td>Metro Cash</td>
            <td>40</td>
          </tr>
          <tr>
            <td>22</td>
            <td>Chocolate</td>
            <td>Packaged Food</td>
            <td>Eclairs</td>
            <td>$1.99</td>
            <td>$2.49</td>
            <td>Inventiva</td>
            <td>30</td>
          </tr>
          <tr>
            <td>23</td>
            <td>Golddrop</td>
            <td>Cooking Oil</td>
            <td>Gold</td>
            <td>$5.99</td>
            <td>$6.49</td>
            <td>Inventiva</td>
            <td>20</td>
          </tr>
          <tr>
            <td>24</td>
            <td>TilOil</td>
            <td>Cooking Oil</td>
            <td>Surya</td>
            <td>$4.49</td>
            <td>$4.99</td>
            <td>Inventiva</td>
            <td>25</td>
          </tr>
          <tr>
            <td>25</td>
            <td>Gillette Shaving Cream</td>
            <td>Personal & Hygiene</td>
            <td>Gillette</td>
            <td>$3.99</td>
            <td>$4.49</td>
            <td>Inventiva</td>
            <td>40</td>
          </tr>
          <tr>
              <td>26</td>
              <td>Maggi</td>
              <td>Packaged Food</td>
              <td>Nestle</td>
              <td>$2.99</td>
              <td>$3.49</td>
              <td>Inventiva</td>
              <td>50</td>
            </tr>
            <tr>
              <td>27</td>
              <td>Chocolate</td>
              <td>Packaged Food</td>
              <td>Eclairs</td>
              <td>$1.99</td>
              <td>$2.49</td>
              <td>Inventiva</td>
              <td>30</td>
            </tr>
            <tr>
              <td>28</td>
              <td>Golddrop</td>
              <td>Cooking Oil</td>
              <td>Gold</td>
              <td>$5.99</td>
              <td>$6.49</td>
              <td>Inventiva</td>
              <td>20</td>
            </tr>
            <tr>
              <td>29</td>
              <td>TilOil</td>
              <td>Cooking Oil</td>
              <td>Surya</td>
              <td>$4.49</td>
              <td>$4.99</td>
              <td>Inventiva</td>
              <td>25</td>
            </tr>
            <tr>
              <td>30</td>
              <td>Gillette Shaving Cream</td>
              <td>Personal & Hygiene</td>
              <td>Gillette</td>
              <td>$3.99</td>
              <td>$4.49</td>
              <td>Inventiva</td>
              <td>40</td>
            </tr>
            <tr>
              <td>31</td>
              <td>Maggi</td>
              <td>Packaged Food</td>
              <td>Nestle</td>
              <td>$2.99</td>
              <td>$3.49</td>
              <td>Inventiva</td>
              <td>50</td>
            </tr>
            <tr>
              <td>32</td>
              <td>Chocolate</td>
              <td>Packaged Food</td>
              <td>Eclairs</td>
              <td>$1.99</td>
              <td>$2.49</td>
              <td>Inventiva</td>
              <td>30</td>
            </tr>
            <tr>
              <td>33</td>
              <td>Golddrop</td>
              <td>Cooking Oil</td>
              <td>Gold</td>
              <td>$5.99</td>
              <td>$6.49</td>
              <td>Inventiva</td>
              <td>20</td>
            </tr>
            <tr>
              <td>34</td>
              <td>TilOil</td>
              <td>Cooking Oil</td>
              <td>Surya</td>
              <td>$4.49</td>
              <td>$4.99</td>
              <td>Metro Cash</td>
              <td>25</td>
            </tr>
            <tr>
              <td>35</td>
              <td>Gillette Shaving Cream</td>
              <td>Personal & Hygiene</td>
              <td>Gillette</td>
              <td>$3.99</td>
              <td>$4.49</td>
              <td>Metro Cash</td>
              <td>40</td>
            </tr>
            <tr>
              <td>36</td>
              <td>TilOil</td>
              <td>Cooking Oil</td>
              <td>Surya</td>
              <td>$4.49</td>
              <td>$4.99</td>
              <td>Metro Cash</td>
              <td>25</td>
            </tr>
            <tr>
              <td>37</td>
              <td>Gillette Shaving Cream</td>
              <td>Personal & Hygiene</td>
              <td>Gillette</td>
              <td>$3.99</td>
              <td>$4.49</td>
              <td>Metro Cash</td>
              <td>40</td>
            </tr>
            <tr>
              <td>38</td>
              <td>TilOil</td>
              <td>Cooking Oil</td>
              <td>Surya</td>
              <td>$4.49</td>
              <td>$4.99</td>
              <td>Metro Cash</td>
              <td>25</td>
            </tr>
            <tr>
              <td>39</td>
              <td>Gillette Shaving Cream</td>
              <td>Personal & Hygiene</td>
              <td>Gillette</td>
              <td>$3.99</td>
              <td>$4.49</td>
              <td>Metro Cash</td>
              <td>40</td>
            </tr>
            <tr>
              <td>40</td>
              <td>TilOil</td>
              <td>Cooking Oil</td>
              <td>Surya</td>
              <td>$4.49</td>
              <td>$4.99</td>
              <td>Metro Cash</td>
              <td>25</td>
            </tr>
            <tr>
              <td>41</td>
              <td>Gillette Shaving Cream</td>
              <td>Personal & Hygiene</td>
              <td>Gillette</td>
              <td>$3.99</td>
              <td>$4.49</td>
              <td>Metro Cash</td>
              <td>40</td>
            </tr>
      </tbody>
    </table>
  </div>
  






  
    <div class="pagination">
        <button class="page-button">Prev</button>
        <span class="page-info">Page 1 of 2</span>
        <button class="page-button">Next</button>
    </div>
