<!-- settings.component.html -->

<div class="adjust">
    <div class="settings-form">
        <h2>Settings</h2>
        <form>
          <div class="form-group">
            <label for="privacy">Privacy Options</label>
            <div class="custom-select">
            <select id="privacy" name="privacy">
              <option value="show">Show Email ID</option>
              <option value="hide">Hide Email ID</option>
            </select>
        </div>
          </div>
      
          <div class="form-group">
            <label for="payment">Default Payment Method</label>
            <div class="custom-select">
            <select id="payment" name="payment">
              <option value="credit">Credit Card</option>
              <option value="paypal">PayPal</option>
              <option value="wallet">Wallet</option>
            </select>
          </div>
        </div>
          
      
          <div class="form-group">
            <label for="language">Choose a Language</label>
            <div class="custom-select">
            <select id="language" name="language" class="3">
              <option value="english">English</option>
              <option value="spanish">Spanish</option>
              <option value="french">French</option>
            </select>
          </div>
        </div>
          <div class="form-group">
            <label for="update-app">Automatically Update App</label>
            <div class="custom-select">
            <select>
             
                <option value="spanish">Yes</option>
                <option value="french">No</option>
              </select>
          </div>
        </div>
          <div class="form-group">
            <label for="notifications">Notifications</label>
            <div class="custom-select">
            <select>
                <option value="spanish">Enabled</option>
                <option value="french">Disabled</option>
              </select>
          </div></div>
      
          <div class="button-group">
            <button type="submit" class="apply-button">Apply Changes</button>
            <button type="button" class="reset-button">Reset</button>
          </div>
        </form>
      </div>
      
</div>
  

